Microsoft/Azure Ai Security Skills Challenge/02 - AI Integration & Enhanced Security Operations/scripts/templates/logic-app-workflow.json
{
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "$connections": {
            "defaultValue": {},
            "type": "Object"
        }
    },
    "triggers": {
        "Recurrence": {
            "recurrence": {
                "frequency": "{frequency}",
                "interval": "{interval}"
            },
            "type": "Recurrence"
        }
    },
    "actions": {
        "Get_Defender_XDR_Incidents": {
            "runAfter": {},
            "type": "ApiConnection",
            "inputs": {
                "host": {
                    "connection": {
                        "name": "@parameters('$connections')['microsoftgraphsecurity']['connectionId']"
                    }
                },
                "method": "get",
                "path": "/beta/security/incidents",
                "queries": {
                    "$filter": "{incidentFilter}",
                    "$top": "{maxIncidentsPerRun}"
                }
            }
        },
        "For_each_incident": {
            "foreach": "@body('Get_Defender_XDR_Incidents')?['value']",
            "actions": {
                "Generate_AI_Summary": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['openai']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/openai/deployments/{openAIDeploymentName}/chat/completions",
                        "queries": {
                            "api-version": "2024-05-01-preview"
                        },
                        "body": {
                            "messages": [
                                {
                                    "role": "system",
                                    "content": "You are a cybersecurity analyst providing clear, concise incident analysis. Focus on impact assessment, recommended actions, and priority classification."
                                },
                                {
                                    "role": "user",
                                    "content": "Analyze this security incident and provide a summary with recommended actions:\n\nIncident: @{items('For_each_incident')?['title']}\nDescription: @{items('For_each_incident')?['description']}\nSeverity: @{items('For_each_incident')?['severity']}\nStatus: @{items('For_each_incident')?['status']}\nCreated: @{items('For_each_incident')?['createdDateTime']}\n\nProvide analysis in this format:\n- Impact Assessment: \n- Recommended Actions: \n- Priority Level: \n- Next Steps:"
                                }
                            ],
                            "max_tokens": "{maxTokens}",
                            "temperature": "{temperature}"
                        }
                    }
                },
                "Add_AI_Comment_to_Incident": {
                    "runAfter": {
                        "Generate_AI_Summary": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['microsoftgraphsecurity']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/beta/security/incidents/@{items('For_each_incident')?['id']}/comments",
                        "body": {
                            "comment": "🤖 AI Analysis Summary:\n\n@{body('Generate_AI_Summary')?['choices']?[0]?['message']?['content']}\n\n---\nGenerated by Azure OpenAI on @{utcNow()}"
                        }
                    }
                },
                "Log_Processing_Results": {
                    "runAfter": {
                        "Add_AI_Comment_to_Incident": [
                            "Succeeded",
                            "Failed"
                        ]
                    },
                    "type": "ApiConnection",
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/Tables/@{encodeURIComponent('LogicAppLogs')}/entities",
                        "body": {
                            "PartitionKey": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
                            "RowKey": "@{guid()}",
                            "IncidentId": "@{items('For_each_incident')?['id']}",
                            "IncidentTitle": "@{items('For_each_incident')?['title']}",
                            "ProcessingTime": "@{utcNow()}",
                            "Status": "@{if(equals(outputs('Add_AI_Comment_to_Incident')?['statusCode'], 201), 'Success', 'Failed')}",
                            "AIResponse": "@{if(equals(outputs('Generate_AI_Summary')?['statusCode'], 200), 'Generated', 'Failed')}",
                            "ErrorDetails": "@{if(failed('Add_AI_Comment_to_Incident'), outputs('Add_AI_Comment_to_Incident'), '')}"
                        }
                    }
                }
            },
            "runAfter": {
                "Get_Defender_XDR_Incidents": [
                    "Succeeded"
                ]
            },
            "type": "Foreach"
        }
    },
    "outputs": {}
}
